
main{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
#artistGrid h1{
    margin: 10px;
    margin-left: 10%;
}
#artistGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

#navigationAnchor {
    display: flex;
    justify-content: space-between;
}



h1{
    font-size: 50px;
    font-family: helvetica;
}
p{
    font-size: 2vw;
    font-family: helvetica;
    text-align: center;


    line-height: 150%;
}
h3 {
    text-align: center;
    font-size: 50px;
    
}
#artistDescription {
    margin-top: 58px;
}

#secArtist img{
    width: 80%;

    display: block;
    margin: auto;

}
#secAlbum{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
}
#secBuyAlbum a{
    text-decoration: none;
    color: teal;
    font-size: 20px;
}
#secBuyAlbum img{
    margin: auto;
    width: 100%;
    border-radius: 4px;
}

a:hover {
    text-decoration: underline gold;
}

.arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;

  margin-top: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}



@media (max-width: 900px){
    #artistGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    h4 {
        font-size: 28px;
    }


}