header {
  height: 100%;
  background-color: lightgray;
}

main{
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 30px;

  margin: auto;
  margin-top: 50px;
  width: 90%;
}

hr {
  width: 90%;
}

h1 {
  font-size: 40px;
  font-family: Helvetica;
}

.artist-front img{
  width: 250px;
  height: 250px;
}

#secArtist{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 15px;

}

.artist-front img{
  display: block;
  margin: auto;

  width: 400px;
  height: 400px;
}

.flip-card {
  background-color: transparent;
    width: 400px;
    height: 440px;
    perspective: 1000px;


}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.artist-front, .artist-back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}
.artist-front {
  background-color:;
  color: black;
}
.artist-back {
  transform: rotateY(180deg);
  background-color: silver;
  height: 100%;

  font-size: 1.5vw;
}


#secArtist h3 {
  margin-top: 0;
  font-size: 30px;
}


@media (max-width: 1500px) {
  #secArtist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}

@media (max-width: 1200px) {
  #secArtist {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;

    margin-left: 25%;
  }
}

@media (max-width: 1050px) {
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
    #secArtist {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
  p, a {
    font-size: 3vw;
  }
}

@media (max-width: 650px) {
    #secArtist {
    margin: 10%;
  }

}



